@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body {
  --NavHeight: 45px;
  --NavColor: orange;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.TopNav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: var(--NavHeight);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
  background-color: var(--NavColor);
  // box-shadow: var(--NavColor) 0px 0px 8px 2px;
  font-family: 'Roboto', sans-serif;
  h1 {
    margin: 0;
    color: white;
  }
  i {
    // color: white;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
  }
}

.title {
  padding: 0 8px;
  margin: 0;
}

#search {
  background-color: orange;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 8px 16px;
  box-sizing: border-box;
  width: calc(100% - 16px);
  height: 32px;
  margin: 8px;
}
#search::placeholder {
  color: white;
}

.Display {
  margin-top: var(--NavHeight);
}

#CartActual {
  margin: 0px 8px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  padding: 0;
  background-color: aqua;
  max-height: calc(100vh - 160px);
  overflow: hidden;
  overflow-y: scroll;
  li {
    cursor: pointer;
    background-color: orange;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    padding: 8px 8px 8px 0;
    position: relative;
    height: 20px;
    .RightBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .checker {
        background-color: rgb(255, 0, 0);
        height: 20px;
        aspect-ratio: 1;
      }
      .check {
        background-color: green !important;
      }
      h5 {
        margin: 0;
      }
    }
    .CloseBtn {
      height: 36px;
      aspect-ratio: 1;
      background-color: rgb(187, 11, 11);
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: 'X';
        font-weight: bolder;
        color: white;
      }
    }

  }
}
#AddingBox {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 40px;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  #AddNew {
    height: 100%;
    aspect-ratio: 1;
    background-color: orange;
    // position: absolute;
    // bottom: 16px;
    // right: 50%;
    // transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    line-height: 0px;
    font-weight: bold;
    border-radius: 100%;
    // box-shadow: orange 0px 0px 8px 1px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: 100ms;
  }
  .inputs {
    display: flex;
    gap: 8px;
    input {
      font-family: 'Roboto', sans-serif;
      border-radius: 25px;
      border: none;
      background-color: orange;
      box-sizing: border-box;
      height: 100%;
      width: 50%;
      padding: 8px 16px;
      color: white;
      font-weight: bold;
    }
    input::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}


// .open {
//   right: 16px !important;
//   transform: translateX(0%) !important;
// }