@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body {
  --NavHeight: 45px;
  --MainColor: orange;
  --ExtraColor: white;
  --CustomHeight: calc(100vh - 45px);
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#TopNav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: var(--NavHeight);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
  background-color: var(--MainColor);
  // box-shadow: var(--NavColor) 0px 0px 8px 2px;
  font-family: 'Roboto', sans-serif;
  h1 {
    margin: 0;
    color: white;
  }
  i {
    // color: white;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
  }
}
.HomePage {
  #GoToList {
    display: block;
  }
  #GoToHomePage {
    display: none;
  }
}
.ListPage {
  #GoToList {
    display: none !important;
  }
  #GoToHomePage {
    display: block;
  }
}
.NavButton {
  background-color: blue;
  height: 100%;
  aspect-ratio: 1;
}

.title {
  padding: 0 8px;
  margin: 0;
}

#search {
  background-color: var(--MainColor);
  border-radius: 25px;
  border: none;
  color: white;
  padding: 8px 16px;
  box-sizing: border-box;
  width: calc(100% - 16px);
  height: 32px;
  margin: 8px;
}
#search::placeholder {
  color: white;
}

.Display {
  margin-top: var(--NavHeight);
}

#HomePage {
  position: absolute;
  width: 100%;
  height: var(--CustomHeight);
  background-color: rgb(255, 166, 0);
  .Profile {
    margin: 40px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ProfileImg {
      position: relative;
      width: clamp(25px,30%,200px);
      aspect-ratio: 1;
      background-color: white;
      border-radius: 50%;
      box-shadow: white 0px 0px 8px;
      overflow: hidden;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: url('https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0);
      }
    }
    .AcountName {
      color: white;
      font-size: 25px;
      &::before {
        content: '-- ';
      }
      &::after {
        content: ' --';
      }
    }
  }
  #ProfileLists {
    margin: 0 16px;
    h1 {
      font-size: 22px;
      margin: 0;
      color: white;
    }
    ul {
      padding: 0 0 0 4px;
      list-style: none;
      li {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 8px;
        border-radius: 16px;
        margin-bottom: 8px;
        font-size: 16px;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        font-weight: bold;
        color: white;
      }
    }
  }
}

#CartActual {
  --BorderMaringCard: 8px;
  --BorderMaringStatus: 8px;
  margin: 0px 8px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  padding: 0;
  background-color: white;
  max-height: calc(100vh - 160px);
  overflow: hidden;
  overflow-y: scroll;
  li {
    border-radius: var(--BorderMaringCard);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: orange;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    padding: 8px 8px 8px 0;
    position: relative;
    height: 20px;
    .RightBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .checker {
        background-color: rgb(255, 0, 0);
        height: 20px;
        border-radius: var(--BorderMaringStatus);
        aspect-ratio: 1;
      }
      .check {
        background-color: green !important;
      }
      h5 {
        margin: 0;
      }
    }
    .CloseBtn {
      border-radius: var(--BorderMaringCard) 0px 0 var(--BorderMaringCard);
      height: 36px;
      aspect-ratio: 1;
      background-color: rgb(187, 11, 11);
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: 'X';
        font-weight: bolder;
        color: white;
      }
    }

  }
}
#AddingBox {
  position: absolute;
  bottom: 16px;
  padding: 8px;
  border-radius: 25px;
  width: calc(100% - 48px);
  height: 32.5px;
  margin: 0 16px;
  display: flex;
  background-color: var(--MainColor);
  justify-content: space-between;
  gap: 8px;
  #AddNew {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--ExtraColor);
    // position: absolute;
    // bottom: 16px;
    // right: 50%;
    // transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--MainColor);
    font-size: 35px;
    line-height: 0px;
    font-weight: bold;
    border-radius: 100%;
    // box-shadow: orange 0px 0px 8px 1px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: 100ms;
  }
  .inputs {
    width: 100%;
    display: flex;
    gap: 8px;
    input {
      font-family: 'Roboto', sans-serif;
      border-radius: 25px;
      border: none;
      background-color: var(--ExtraColor);
      box-sizing: border-box;
      height: 100%;
      width: 50%;
      padding: 8px 16px;
      color: black;
      font-weight: bold;
    }
    input::placeholder {
      color: rgba(0, 0, 0, .75);
    }
  }
}

.DisplayCarts {
  position: absolute;
  width: 100%;
  height: var(--CustomHeight);
  transition: 200ms;
  transition-duration: left,right;
}
.OpenToRight {
  left: 100% !important;
}
.OpenToLeft {
  right: 100% !important;
}


// .open {
//   right: 16px !important;
//   transform: translateX(0%) !important;
// }